<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
<title>Categories</title>
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
</head>
<body>



<h1>Categories</h1>
<table class="table table-striped">
<tbody>
<tr th:each="category:${categories}">
<td th:text="${category.name}"></td>
</tr>
</tbody>
</table>
<a href="/create"  class="btn btn-success">Create category</a>
</body>
</html>